a {
    text-decoration: none !important;
    color: inherit !important;
}

.dropdown-menu-left {
    right: auto !important;
    left: 0 !important;
}

.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}